<%- include('./layouts/header.ejs') %>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID: <%= orderData.orderId %></p>
        </div>
    </div>
    <div class="">
        <header class="">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span> <i class="material-icons md-calendar_today"></i> <b><%= orderData.date.toDateString() %></b> </span> <br />
                    <small class="text-muted">Order ID: <%= orderData.orderId %> </small>
                </div>
                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                    <select class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                        <option>Change status</option>
                        <option>Awaiting payment</option>
                        <option>Confirmed</option>
                        <option>Shipped</option>
                        <option>Delivered</option>
                    </select>
                    <a class="btn btn-primary" href="#">Save</a>
                    <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <!-- Order Info -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">orderData</h6>
                            <p class="mb-1">
                                <%= orderData.deliveryDetails.fullName %><br />
                                <%= orderData.deliveryDetails.email %> <br />
                                <%= orderData.deliveryDetails.mobile %>
                            </p>
                            <a href="#">View profile</a>
                        </div>
                    </article>
                </div>
                <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                <br />
                                Order ID: <%= orderData.orderId %>,<br>
                                Pay method: <%= orderData.paymentMethod %> <br />
                                totalAmount: ₹<%= orderData.totalAmount %>
                            </p>
                            <a href="#"></a>
                        </div>
                    </article>
                </div>
                <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Shipping Address</h6>
                            <p class="mb-1">
                                Name: <%= orderData.deliveryDetails.fullName %><br>
                                House Name: <%= orderData.deliveryDetails.houseName %><br>
                                City: <%= orderData.deliveryDetails.city %><br />
                                State: <%= orderData.deliveryDetails.state %>,<br>
                                Pincode: <%= orderData.deliveryDetails.pin %>,<br />
                            </p>
                            <a href=""></a>
                        </div>
                    </article>
                </div>
                <!-- col// -->
            </div>
            <!-- row // -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="20%">Image</th>
                                    <th width="20%">Product Name</th>
                                    <th width="20%">Product Price</th>
                                    <th width="20%">Count</th>
                                    <th width="20%">Total</th>
                                    <th width="20%">Status</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <% order.forEach(orderItem => { %>
                                    <% orderItem.products.forEach(product => { %>
                                        <tr data-product-id="<%= product._id %>">
                                            <td>
                                                <a class="itemside" href="#">
                                                    <% if (product.productId && product.productId.images && product.productId.images.length > 0) { %>
                                                        <img src="/adminAssets/imgs/category/<%= product.productId.images[0] %>" width="50" height="50" class="img-xs" alt="Item" style="height: 80px" />
                                                    <% } else { %>
                                                        <img src="/path/to/default/image.jpg" width="40" height="40" class="img-xs" alt="Default Item" />
                                                    <% } %>
                                                </a>
                                            </td>
                                            <td><%= product.productId.name %></td>
                                            <% if (product.productId.price === product.productId.offerprice) { %>
                                              <td><%= product.productId.price %></td>
                                          <% } else { %>
                                              <td><%= product.productId.offerprice %></td>
                                          <% } %>
                                          
                                          
                                            <td><%= product.count %></td>
                                            <% if (product.productId.offerprice === product.productId.productPrice) { %>
                                              <td class="column-4" id="pricePerItem"><%= product.productId.productPrice*product.count %></td>
                                          <% } else { %>
                                              <td class="column-4" id="pricePerItem">
                                                 
                                                  <span ><%= product.productId.offerprice * product.count %></span>
                                              </td>
                                          <% } %>
                                           
                                            <% if (product.productStatus == "pending") { %>
                                                <td style="color: yellow;">Pending</td>
                                                <% } else if (product.productStatus == 'Delivered') { %>
                                                <td style="color: limegreen;">Delivered</td>
                                                <% } else if (product.productStatus == "requested") { %>
                                                <td> <!-- return reason modal -->
                                                    <div class="modal fade" id="returnReasonModal" tabindex="-1"
                                                    role="dialog" aria-labelledby="returnReasonModalLabel"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                      <div class="modal-content"
                                                        style="border-radius: 10px; background-color: #f9f9f9; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                                                        <div class="modal-header"
                                                          style="border-bottom: none; background-color: #007bff; color: white;">
                                                          <h5 class="modal-title" id="returnReasonModalLabel"
                                                            style="font-size: 1.5rem; font-weight: bold;">Return
                                                            Reason</h5>
                                                        </div>
                                                        <div class="modal-body"
                                                          style="padding: 20px; font-size: 1rem;">
                                                          <p id="returnReasonText"></p>
                                                        </div>
                                                        <div class="modal-footer" style="border-top: none; background-color: #f9f9f9; color: #007bff;">
                                                          <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" onclick="$('#returnReasonModal').modal('hide');" style="color:black; font-size: 1rem;">
                                                              <span aria-hidden="true">&times;</span>
                                                          </button>
                                                          <button type="button" class="btn btn-primary" onclick="acceptReturnRequest('<%= product._id %>','accepted');">Accept</button>
                                                          <button type="button" class="btn btn-danger" onclick="rejectReturnRequest('<%= product._id %>','rejected');">Reject</button>
                                                      </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <button
                                                  onclick="showReturnModal('<%= JSON.stringify(product._id) %>','<%= JSON.stringify(product.count) %>',' <%= JSON.stringify(orderData.returnReason) %>','<%= JSON.stringify(orderData._id) %>')"
                                                  class="badge badge-warning">Return Request</button>
                                                 
                                                      </td>
                                                      <% } else if (product.productStatus == "accepted") { %>
                                                      <td style="color: rgb(9, 16, 219);"
                                                        >Returned</td>
                                                      <% } else if (product.productStatus == 'Cancelled') { %>
                                                      <td style="color: red;">Cancelled</td>
                                                      <% } else { %>
                                                      <td>
                                                        <div class="dropdown">
                                                          <button class="btn btn-primary dropdown-toggle"
                                                            type="button" id="dropdownMenuButton"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"><%= product.productStatus %></button>
                                                          <div class="dropdown-menu"
                                                            aria-labelledby="dropdownMenuButton">
                                                            <button class="dropdown-item" type="button"
                                                              onclick="updateOrder('<%= product._id %>','Placed')">Placed</button>
                                                            <button class="dropdown-item" type="button"
                                                              onclick="updateOrder('<%= product._id %>','Shipped')">Shipped</button>
                                                           
                                                            <button class="dropdown-item" type="button"
                                                              onclick="updateOrder('<%= product._id %>','Delivered')">Delivered</button>
                                                          </div>
                                                        </div>
                                                      </td>
                                                      <% } %>
                                                    </tr>
                                                    <% }); %>
                                        </tr>
                                    <% }); %>
                                
                                <tr>
                                    <td colspan="4">
                                        <article class="float-end">
                                            <!-- <dl class="dlist">
                                                <dt>Subtotal:</dt>
                                                <dd>₹<%= subtotal.toFixed(2) %></dd>
                                            </dl> -->
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd><b class="h5">₹<%=subtotal.toFixed(2)%></b></dd>
                                            </dl>
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- table-responsive// -->
                </div>
                <!-- col// -->
            </div>
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
</section>
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert@2"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Bootstrap JavaScript -->
<!-- Ensure jQuery is loaded before Bootstrap -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
 $('.dropdown-toggle').dropdown();
});


  function updateOrder(id, status) {
  const data = { orderId: id, status };
  console.log('data',data);

  $.ajax({
    url: '/admin/update-order',
    data: JSON.stringify(data),
    contentType: 'application/json',
    method: 'POST',
    success: function (response) {
      location.reload()
      if (response.success) {
        const newStatus = response.orderData.products.find(product => product._id === id).status;
        $(`#${id}`).text(newStatus);
        if (newStatus === 'Delivered') {
          $(`#${id}`).removeClass('btn-primary').addClass('btn-success');
          location.reload()
        } else if (newStatus === 'Cancelled') {
          $(`#${id}`).removeClass('btn-primary').addClass('btn-danger');
        }

        Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 1500,
        }).fire({
          icon: "success",
          title: "Status changed",
        });
        location.reload()
      } else {
        console.log('erroooooorororror');
        swal("Something went wrong", "", "error");
      }
      
    },
    error: function () {
      swal("Something went wrong", "", "error");
    }
  });
}



function showReturnModal(productId, count, returnReason, orderId, orderReturnReason) {
    console.log('Product ID:', productId);
    console.log('Count:', count);
    console.log('Return Reason:', returnReason);
    console.log('Order ID:', orderId);
    console.log('Order Return Reason:', orderReturnReason);
    document.getElementById('returnReasonText').textContent = returnReason;
    $('#returnReasonModal').modal('show');
}

function acceptReturnRequest(id, status) {
  const data = { orderId: id, status: 'accepted' }; // Changed status to 'accepted'
  console.log('Accepting request:', data);
  
  $.ajax({
    url: '/admin/update-order',
    data: JSON.stringify(data),
    contentType: 'application/json',
    method: 'POST',
    success: function (response) {
      if (response.success) {
        const newStatus = response.orderData.products.find(product => product._id === id).status;
        $(`#${id}`).text(newStatus);
        if (newStatus === 'accepted') {
          $(`#${id}`).removeClass('btn-primary').addClass('btn-success');
        }
        location.reload();

        Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 1500,
        }).fire({
          icon: "success",
          title: "Request accepted, status changed",
        });
      } else {
        console.log('Error');
        swal("Something went wrong", "", "error");
      }
    },
    error: function () {
      swal("Something went wrong", "", "error");
    }
  });

  console.log('Return request accepted.');
  $('#returnReasonModal').modal('hide');
}
function rejectReturnRequest(id, status) {
  const data = { orderId: id, status: 'rejected' }; // Changed status to 'rejected'
  console.log('Rejecting request:', data);
  
  $.ajax({
    url: '/admin/update-order',
    data: JSON.stringify(data),
    contentType: 'application/json',
    method: 'POST',
    success: function (response) {
      if (response.success) {
        const newStatus = response.orderData.products.find(product => product._id === id).status;
        $(`#${id}`).text(newStatus);
        if (newStatus === 'rejected') {
          $(`#${id}`).removeClass('btn-primary').addClass('btn-danger'); // Updated to 'btn-danger'
        }
        location.reload();

        Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 1500,
        }).fire({
          icon: "success",
          title: "Request rejected, status changed",
        });
      } else {
        console.log('Error');
        swal("Something went wrong", "", "error");
      }
    },
    error: function () {
      swal("Something went wrong", "", "error");
    }
  });

  console.log('Return request rejected.');
  $('#returnReasonModal').modal('hide');
}



      </script>
       <script src="js/off-canvas.js"></script>
       <script src="js/hoverable-collapse.js"></script>
       <script src="js/template.js"></script>

<%- include('./layouts/footer.ejs') %>
