
<%- include('./layouts/header.ejs')%>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List</h2>
         
        </div>
        <div>
            <input type="text" placeholder="Search order ID" class="form-control bg-white" />
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control" />
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            
                            <th scope="col">Payement method</th>
                            <th scope="col">Total</th>
                            <!-- <th scope="col">Status</th> -->
                            <th scope="col">Date</th>
                            <th scope="col" class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                     
                        <% orderData.forEach( (order)=> { %>

                        
                        <tr>
                            <td>    <%= order.orderId %></td>
                            <!-- <td><b><%= order.fullname %></b></td> -->
                            <td>  <%= order.paymentMethod %></td>
                            <td>₹<%= order.totalAmount %></td>

                            <!-- <td><span class="badge rounded-pill alert-warning"><%= order.products.status%></span></td> -->
                           
                            <td><%= order.date.toDateString() %></td>
                            <td class="text-end">
                                <a href="/admin/order-details?_id=<%=order._id %>" class="btn btn-md rounded font-sm">View Details</a>
                               
                                </div>
                                <!-- dropdown //end -->
                            </td>
                        </tr>
                        
                        

                        <% }) %>
                    </tbody>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <% if (totalPages > 1) { %>
                    <% if (currentPage > 1) { %>
                        <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a></li>
                    <% } %>
                   
                    <% if (currentPage < totalPages) { %>
                        <li class="page-item"><a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a></li>
                    <% } %>
                <% } %>
            </ul>
        </nav>
        <!-- Page x of y model -->
        <div class="page-model">
            <p>Page <%= currentPage %> of <%= totalPages %></p>
        </div>
    </div>
</section>
<!-- content-main end// -->


<%- include('./layouts/footer.ejs')%>