<%-include("../user/layouts/header.ejs") %>

<style>
  .pagination {
    margin-top: 20px;
    text-align: center;
  }

  .pagination a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .pagination a:hover {
    background-color: #ddd;
  }

  .pagination a.active {
    background-color: #007bff;
    color: #fff;
  }
  /* Your CSS styles here */
  .offer-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
}

.new-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: green;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
}

.price-container {
  margin-top: 10px;
}

.offer-price {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.original-price {
  color: #999;
  font-size: 14px;
  margin-left: 5px;
}


 
</style>

<!-- Your HTML content here -->

<br><br>
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>
                    
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
						Women
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
						Men
					</button>

					

					
				</div>

			
				<div class="container">
					<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
						<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
							Home
							<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
						</a>
				
						<a href="" class="stext-109 cl8 hov-cl1 trans-04">
							products
							<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
						</a>
					  
						<span class="stext-109 cl4">
							
						</span>
					</div>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				
				<!-- Search product -->
				
      <!-- Search product -->
      <div class="dis-none panel-search w-full p-t-10 p-b-15">
        <form action="/shop" method="GET" class="bor8 dis-flex p-l-15">
            <button type="submit" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                <i class="zmdi zmdi-search"></i>
            </button>
            <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" placeholder="Search" value="<%= searchTerm %>">
        </form>
    </div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<ul>
								<li class="p-b-6">
									<a href="?page=<%= currentPage %>&sort=default&search=<%= searchTerm %>" class="filter-link stext-106 trans-04 <%= currentSort === 'default' ? 'filter-link-active' : '' %>">
										Default
									</a>
								</li>
						
								
								
								<li class="p-b-6">
									<a href="?page=<%= currentPage %>&sort=new_arrival&search=<%= searchTerm %>" class="filter-link stext-106 trans-04 <%= currentSort === 'new_arrival' ? 'filter-link-active' : '' %>">
										New Arrival
									</a>
								</li>
						
								<li class="p-b-6">
									<a href="?page=<%= currentPage %>&sort=low_to_high&search=<%= searchTerm %>" class="filter-link stext-106 trans-04 <%= currentSort === 'low_to_high' ? 'filter-link-active' : '' %>">
										Price: Low to High
									</a>
								</li>
						
								<li class="p-b-6">
									<a href="?page=<%= currentPage %>&sort=high_to_low&search=<%= searchTerm %>" class="filter-link stext-106 trans-04 <%= currentSort === 'high_to_low' ? 'filter-link-active' : '' %>">
										Price: High to Low
									</a>
								</li>
								<li class="p-b-6">
									<a href="?page=<%= currentPage %>&sort=a_to_z&search=<%= searchTerm %>" class="filter-link stext-106 trans-04 <%= currentSort === 'a_to_z' ? 'filter-link-active' : '' %>">
										A-Z
									</a>
								</li>
								<li class="p-b-6">
									<a href="?page=<%= currentPage %>&sort=z_to_a&search=<%= searchTerm %>" class="filter-link stext-106 trans-04 <%= currentSort === 'z_to_a' ? 'filter-link-active' : '' %>">
										Z-A
									</a>
								</li>
							</ul>
						</div>
						
						
						
						<div class="filter-col4 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								
							</div>

							<div class="flex-w p-t-4 m-r--5">
								
								
								
							</div>
						</div>
					</div>
				</div>
			</div>


      <div class="row isotope-grid">
        <% if (productData.length > 0) { %>
          <% for (let i = 0; i < productData.length; i++) { %>
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
              <!-- Product item -->
              <div class="block2">
                <!-- Product image -->
                <div class="block2-pic hov-img0">
                  <a href="" class="product-link"></a>
                  <img src="/adminAssets/imgs/category/<%= productData[i].images[0] %>" alt="IMG-PRODUCT">
                  <a href="" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 p-lr-15 trans-04 ">
                    Quick view
                  </a>
      
                  <!-- Offer tag if there's an offer -->
                  <% if (productData[i].biggestOffer > 0) { %>
                    <span class="offer-tag"><%= productData[i].biggestOffer %>% OFF</span>
                  <% } %>
      
                  <% if (productData[i].new) { %>
                    <span class="new-tag">new</span>
                  <% } %>
                </div>
      
                <!-- Product details -->
                <div class="block2-txt flex-w flex-t p-t-14">
                  <div class="block2-txt-child1 flex-col-l">
                    <!-- Product name -->
                    <a href="/productview?id=<%= productData[i]._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                      <%= productData[i].name %>
                    </a>
                    <!-- Product price with offer -->
                    <div class="price-container">
                      <% if (productData[i].biggestOffer > 0) { %>
                        <span class="offer-price">₹ <%= productData[i].offerPrice.toFixed(2) %></span>
                        <span class="original-price" style="text-decoration: line-through; color: #999;">₹ <%= parseFloat(productData[i].price).toFixed(2) %></span>
                      <% } else { %>
                        <span class="stext-105 cl3">₹ <%= parseFloat(productData[i].price).toFixed(2) %></span>
                      <% } %>
                    </div>
                  </div>
      
                  <!-- Add to wishlist -->
                  <div class="block2-txt-child2 flex-r p-t-3">
                    <a href="/cart" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
                      <i class="zmdi zmdi-shopping-cart"></i>
                    </a>
      
                    <a href="/wishlist" onclick="addToWishlist('<%= productData[i]._id %>')" class="btn-addwish-b2 dis-block pos-relative addwish-b2" id="wishlistLink">
                      <img class="icon-heart1 dis-block trans-04" src="users/images/icons/icon-heart-01.png" alt="ICON">
                      <img class="icon-heart2 dis-block trans-04 ab-t-l" src="users/images/icons/icon-heart-02.png" alt="ICON">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        <% } else { %>
          <div class="no-products">No products found.</div>
        <% } %>
      </div>
      
    <!-- Load more -->
    <div class="flex-c-m flex-w w-full p-t-45">
      <!-- <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
        Load More
      </a> -->
     
    </div>
    <div class="pagination">
      <% for(let i = 1; i <= totalPages; i++) { %>
        <a href="/shop?page=<%= i %>&search=<%= searchTerm %>&sort=<%= currentSort %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
      <% } %>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


	<script>

		function handleSearch(searchTerm, selectedValue) {
			const currentUrl = window.location.href;
			const baseUrl = currentUrl.split('?')[0]; 
		
		  
			const newUrl = `${baseUrl}?sort=${selectedValue}&search=${encodeURIComponent(searchTerm)}`;
		
		   
			window.location.href = newUrl;
		}
		
		function handleChange(selectElement) {
			const selectedValue = selectElement.value;
			const searchTerm = document.getElementById('searchInput').value;
			console.log('Search Term:', searchTerm);
			handleSearch(searchTerm, selectedValue);
		}
		
		
		document.getElementById('searchInput').addEventListener('keyup', function(event) {
			if (event.key === 'Enter') {
				const selectedValue = document.querySelector('select').value;
				const searchTerm = this.value;
				handleSearch(searchTerm, selectedValue);
			}
		});

		function addToWishlist(productId) {
    console.log(productId, '-------------');
   
    // Send AJAX request to addToWishlist route
    $.ajax({
        method: "POST",
        url: '/addToWishlist',
        data: JSON.stringify({ productId: productId }),
        contentType: 'application/json',
        success: function (response) {
            console.log(response);
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 2000,
            });

            if (response.added) {
                Toast.fire({
                    icon: 'success',
                    title: response.message
                });
                // Add a class to change the button color
                $('#wishlistLink').addClass('added-to-wishlist');
            } else if (response.removed) {
                Toast.fire({
                    icon: 'success',
                    title: response.message
                });
          
                $('#wishlistLink').removeClass('added-to-wishlist');
            } else {
                Toast.fire({
                    icon: 'error',
                    title: 'Please log in to perform this action.',
                    timer: 2000
                });
                setTimeout(function () {
                    window.location.href = '/login';
                }, 1000);
            }
        },
        error: function (error) {
            console.error(error.responseText);
        }
    });
}

		</script>

<%-include("../user/layouts/footer.ejs") %>
